@import "/tmp/waybar-theme.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: @background;
    border-radius: 15px;
}

tooltip {
    background: @foreground;
    color: @text;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @text;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @workspace-active;
    color: @text-hover;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @hover;
    color: @text-hover;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-window_icon,
#window,
#tray,
#workspaces,
#custom-cpu,
#custom-ram,
#custom-gpu,
#clock,
#backlight,
#custom-battery,
#pulseaudio,
#custom-microphone,
#bluetooth,
#network,
#custom-power,
#custom-l_border,
#custom-r_border {
    color: @text;
    background: @foreground;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#custom-window_icon {
  background-image: url('icons/current_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}

#clock {
    color: @clock;
}

#backlight {
    color: @backlight;
}

#custom-battery {
    color: @battery;
}

#custom-battery.critical {
    color: @warning;
    animation-name: blink-icon;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-icon {
    to {
        text-shadow: 0 0 5px @warning;
        opacity: 0.7;
    }
}

#custom-battery.charging {
    color: @battery;
}

#custom-cpu {
    color: @cpu;
}

#custom-ram {
    color: @ram;
}

#custom-gpu {
    color: @gpu;
}

#pulseaudio {
    color: @audio;
}

#custom-microphone {
    color: @mic;
}

#network {
    color: @network;
}

#bluetooth {
    color: @bluetooth;
}

#custom-power {
    color: @power;
}

#custom-r_border {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_border {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}
